@import "compass_twitter_bootstrap";

// DARK
// $background_color: rgb(18,38,42);
// $owner_name_color: rgb(102,100,98);
// $owner_divider_color: rgb(54,102,112);
// $filter_color: rgb(36,255,255);
// $filter_track_color: rgba(153,153,153,.6);
// $filter_text_color: rgb(153,153,153);
// $filter_text_over_color: white;
// $filter_text_divider_color: rgb(61,68,79);
// $filter_text_total_color: rgba(153,153,153,.5);
// $default_text_color: rgb(111,121,132);
// $project_list_unselected_color: rgba(153,153,153,1);
// $project_thumb_border_color: rgb(61,68,79);
// $project_title_color: rgb(197,197,197);
// $project_description_color: rgb(102,102,102);
// $project_date_color: rgb(153,153,153);
// $project_info_color: rgb(102,102,102);
// $detail_title_color: rgb(197,197,197);
// $detail_description_color: rgb(102,102,102);
// $detail_date_color: rgb(153,153,153);
// $detail_info_color: rgb(102,102,102);
// $detail_image_border_color: rgb(61,68,79);
// $index_marker_unselected_color: rgb(61,68,79);
// $index_marker_selected_color: rgb(36,255,255);
// $blink_off_color: rgba(255,0,0,1);
// $blink_on_color: rgba(238,238,238,1);

// LIGHT
$background_color: rgb(255,255,255);
$owner_name_color: rgb(69,69,69);
$owner_divider_color: rgb(212,212,206);
$filter_color: rgb(233,73,32);
$filter_circ_color: rgba(255,255,255,1);
$filter_text_color: rgb(129,129,129);
$filter_text_over_color: black;
$filter_text_divider_color: rgb(238,238,238);
$filter_text_total_color: rgb(200,200,200);
$default_text_color: rgb(153,153,153);
$project_list_unselected_color: rgba(153,153,153,.3);
$project_thumb_border_color: rgb(211,210,204);
$project_title_color: rgb(197,197,197);
$project_description_color: rgb(102,102,102);
$project_date_color: rgb(153,153,153);
$project_info_color: rgb(102,102,102);
$detail_title_color: rgb(197,197,197);
$detail_description_color: rgb(102,102,102);
$detail_date_color: rgb(153,153,153);
$detail_info_color: rgb(102,102,102);
$detail_image_border_color: rgb(230,229,224);
$index_marker_unselected_color: rgb(230,229,224);
$index_marker_selected_color: rgb(85,125,141);
$blink_off_color: rgba(153,153,153,1);
$blink_on_color: rgba(238,238,238,1);
$button_border_color: rgb(212,212,206);

@-webkit-keyframes blink 
{
	0% {fill:$blink_on_color}
	1% {fill:$blink_off_color}
	2% {fill:$blink_on_color}
}

body,
.container {
	width: 100%;
	height: 100%;
	font-family: pt-sans-narrow, serif;
	-webkit-user-select: none;
	cursor: default;
	background: $background_color;
}

.filter_vis {
	position: absolute;
	top: 0;
	right: 0;
	width: 120px;
	height: 120px;
	z-index: 1;

	.filter_circ {
		fill: $filter_circ_color;
		-webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	}


	.filter_arc {
		fill: $filter_color;
		// -webkit-animation: blink 5s infinite;
	}

	.labels {
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
		position: absolute;
		width: 100%;
		height: 100%;
		font-size: 14px;
		color: $default_text_color;
	}
}

.owner {
	display: -webkit-box;
	height: 30px;
	line-height: 22px;
	color: $owner_name_color;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: top right;
	position: absolute;
	top: 150px;
	right: 38px;

	.name {
		font-size: 13px;
		border-right: 1px solid $owner_divider_color;
		padding-right: 20px;
	}

	.title {
		font-size: 11px;
		margin-left: 20px;
	}
};


.filter_hud {
	display: -webkit-box;
	-webkit-box-pack: center;
	position: relative;
	z-index: 1;
	margin: 120px 100px 0 0;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: .2s;

	.filters {
		display: -webkit-box;
	
		.dropdown {
			width: 115px;
			list-style: none;
			font-size: 13px;
			color: $filter_text_color;

			li {
				height: 36px;
				margin-bottom: 2px;
				position: relative;
				border-top: 1px solid $filter_text_divider_color;
				line-height: 40px;
				padding-left: 10px;
				cursor: pointer;

				div {
					position: absolute;
					top: -12px;
					right: 0;
					font-size: 10px;
					color: $filter_text_total_color;
				}
			}

			li:hover {
				color: $filter_text_over_color;
			};

			.selected {
				color: $filter_color;
			};

			.selected:hover {
				color: $filter_color;
			};
		}
	}

	.project_list {
		width: 150px;
		padding-top: 10px;
		margin: 0 20px 0 60px;
		border-top: 1px solid $filter_text_divider_color;

		.clear_filter:hover {
			color: $filter_text_over_color;
		};

		p {
			font-size: 11px;
			line-height: 11px;
			padding-left: 10px;
			color: $project_list_unselected_color;
			text-transform: uppercase;
			-webkit-transition: .2s;
		}

		.filtered_project {
			color: $filter_color;
		}
	}
}

.projects {
	position: absolute;
	top: 120px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	opacity: 0;
	-webkit-transition: .2s;
}

#isotope_container {
	margin: 0 auto;
	padding-right: 60px;
}

.project {
	width: 252px;
	height: 310px;
	margin: 22px;

	img {
		-webkit-filter: grayscale(100%);
		border: 1px solid $project_thumb_border_color;
	}

	img:hover {
		-webkit-filter: grayscale(0%);
	};

	p:first-of-type {
		font-size: 13px;
		color: $project_title_color;
		padding-top: 20px;
		line-height: 13px;
	};

	p:nth-of-type(2) {
		font-size: 12px;
		color: $project_description_color;
		line-height: 8px;
	};

	p:last-of-type {
		font-size: 11px;
		color: $project_date_color;
		padding-top: 20px;

		span {
			color: $project_info_color;
		}
	};
}


.no_detail {
	-webkit-transition: .2s;
}

.detail {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	opacity: 0;
	-webkit-transition: .2s .2s;

	p:first-of-type {
		position: absolute;
		top: 22px;
		left: 87px;
		font-size: 13px;
		color: $detail_title_color;
	};

	p:nth-of-type(2) {
		position: absolute;
		top: 46px;
		left: 87px;
		max-width: 430px;
		font-size: 12px;
		color: $detail_description_color;
	};

	p:nth-of-type(3) {
		position: absolute;
		top: 67px;
		right: 90px;
		max-width: 430px;
		font-size: 11px;
		color: $detail_date_color;
		text-align: right;

		span {
			color: $detail_info_color;
		}
	};

	#swipe li div {
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
		width: 850px;
		height: 555px;
		margin: 0 auto;
		margin-top: 120px;
		border: 1px solid $detail_image_border_color;
	}

	.swipe_hidden {
		display: none;
	}

	#detail_close {
		display: -webkit-box;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
	}

	#swipe_prev {
		display: -webkit-box;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 390px;
		left: 40px;
	}

	#swipe_next {
		display: -webkit-box;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 390px;
		right: 40px;
	}

	#swipe_index {
		display: -webkit-box;
		-webkit-box-pack: center;
		position: absolute;
		top: 700px;
		width: 100%;

		.index_marker {
			width: 10px;
			height: 10px;
			margin: 5px;
			background: $index_marker_unselected_color;
			-webkit-border-radius: 5px;
		}

		.selected {
			background: $index_marker_selected_color;
		}

		.removed {
			display: none;
		}
	}
}

.detail_visible {
	pointer-events: all;
	opacity: 1;
}








.visible {
	opacity: 1;
	pointer-events: all;
}

.disabled {
	opacity: .1;
	-webkit-transform: scale(.8);
	// -webkit-transition: .2s;
}

.blur {
	opacity: .03;
	// -webkit-filter: blur(5px);
	pointer-events: none;
}











// ISOTOPE ANIMATING
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}