@import "compass_twitter_bootstrap";

body,
.container {
	width: 100%;
	height: 100%;
	font-family: pt-sans-narrow, serif;
	-webkit-user-select: none;
	cursor: default;
}


header {
	position: relative;
	z-index: 1;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: end;
	-moz-box-pack: end;
	width: 75%;
	height: 50px;
}

.owner {
	height: 40px;
	position: absolute;
	top: 14px;
	right: 250px;
	font-size: 17px;
	color: rgb(153,153,153);
	padding: 10px 0 0 10px;
	line-height: 10px;
	margin-left: 40px;

	p:last-of-type {
		font-size: 13px;
		color: rgba(153,153,153,.5);
	}
}

.filters {
	display: -webkit-box;
	-webkit-box-pack: center;
	position: relative;
	z-index: 1;
	margin-top: 30px;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: .5s;

	.dropdown {
		width: 115px;
		list-style: none;
		font-size: 13px;
		color: rgb(153,153,153);

		li {
			height: 36px;
			margin-bottom: 2px;
			border-top: 1px solid rgba(238,238,238,1);
			line-height: 40px;
			padding-left: 10px;
			cursor: pointer;
		}

		li:hover {
			color: black;
		};
	}

	.info {
		width: 265px;
		height: 500px;
		margin-left: 60px;

		.info_header {
			display: -webkit-box;
			-webkit-box-align: end;
			width: 100%;
			height: 118px;
			border-bottom: 1px solid rgb(238,238,238);
			color: rgb(153,153,153);
			padding-bottom: 8px;

			.count {
				line-height: 80px;
				font-size: 90px;
				margin: 0 10px 0 10px;
			}

			.total {
				-webkit-box-flex: 1;
				height: 75px;
				font-size: 15px;
			}

			.go_button {
				display: -webkit-box;
				-webkit-box-align: center;
				-webkit-box-pack: center;
				width: 110px;
				height: 75px;
				background: rgb(238,238,238);
				font-size: 22px;
				text-align: center;
				cursor: pointer;
			}

			.go_button:hover {
				color: red;
			};
		}

		.project_list {
			-webkit-box-flex: 1;
			-webkit-column-count: 2;
			-webkit-column-gap: 10px;
			margin: 25px 0 0 10px;
			font-size: 11px;
			line-height: 11px;
			color: rgba(153,153,153,.8);
			text-transform: uppercase;
		}
	}
}

.filter_button {
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: absolute;
	left: 0;
	top: 10px;
	z-index: 1;
	width: 32px;
	height: 32px;
	background: orange;

	span {
		display: block;
		line-height: 28px;
		font-size: 28px;
		pointer-events: none;
		-webkit-transition: .2s;
	}

	.close {
		-webkit-transform: rotate(45deg);
	}
}

.projects {
	position: absolute;
	top: 80px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	opacity: 0;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}

#isotope_container {
	margin: 0 auto 20px;
}

.project {
	width: 300px;
	height: 200px;
	background: rgba(0,0,0,.1);
	margin: 5px;
}

.detail {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	pointer-events: none;
	opacity: 0;
	-webkit-transition: .5s .2s;

	div {
		width: 100%;
		height: 500px;
		margin: 0 auto;
		background: rgba(45,45,45,1);
		-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.3);
	}
}

.detail_visible {
	-webkit-transform: scale(.9);
	opacity: 1;
}








.visible {
	opacity: 1;
	pointer-events: all;
}

.disabled {
	opacity: .3;
	-webkit-transform: scale(.8);
	-webkit-transition: .5s;
	-moz-transform: scale(.8);
	-moz-transition: .5s;
}

.blurred {
}

.selected {
	background: orange;
}


@-webkit-keyframes myfirst 
{
	0% {background:rgba(238,238,238,1)}
	50% {background:rgba(238,238,238,.6)}
}
.filtered {
	-webkit-animation: myfirst .5s infinite;
}








// ISOTOPE ANIMATING
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}