@import "compass_twitter_bootstrap";

$body_bg: rgb(238,238,238);
$header_bg: rgb(68,68,68);
$shadow: rgba(0,0,0,.3);
$title: rgb(204,204,204);
$line: rgb(221,221,221);
$text_intactive: rgb(174,174,172);
$text_active: rgb(108,108,108);
$selected: rgb(217,0,0);
$table_header: rgb(119,119,119);
$table_text: rgb(151,151,151);


*:not(html)
{
    // -webkit-user-select: none;
    // margin:0px;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	// -webkit-backface-visibility: hidden;
	// -webkit-perspective: 1000;
    // -webkit-transform:translate3d(0,0,0);
}

body,
.container {
	// display: -webkit-box;
	// -webkit-box-orient: vertical;
	width: 100%;
	height: 100%;
	font-family: pt-sans-narrow, serif;
	cursor: default;
	background: $body_bg;
	color: $text_intactive;
}

ul {
	list-style: none;
}

.header {
	display: -webkit-box;
	height: 34px;
	background: $header_bg;
	-webkit-box-shadow: inset 0 -8px 8px -3px $shadow;
	-webkit-transition: .3s;
	padding: 0 20px;
	overflow: hidden;

	.bio_button {
		position: absolute;
		top: 9px;
		right: 4px;
		width: 20px;
		height: 20px;
		background-color: white;
		-webkit-mask-image: url('image/icon/about.png');
		-webkit-mask-repeat: no-repeat;
		opacity: .3;
		cursor: pointer;
	}

	.bio_button:hover {
		opacity: 1;
	};

	.name {
		position: absolute;
		top: 10px;
		color: white;
		font-size: 18px;

		span {
			font-size: 14px;
			color: $title;
		}
	}

	section {
		-webkit-box-flex: 1;
		max-width: 250px;
		padding-top: 50px;
		margin: 0 20px;
		font-size: 12px;
		color: white;

		.title {
			font-size: 14px;
			padding-bottom: 8px;
		}

		p {
			line-height: 16px;
		}

		a {
			color: white;
		}

	}
}

.header_open {
	height: 150px;
}

.menu {
	display: -webkit-box;
	-webkit-box-align: end;
	position: relative;
	height: 104px;
	border-bottom: 1px solid $line;

	.marker {
		position: absolute;
		left: -100px;
		bottom: 0;
		width: 100px;
		height: 3px;
		background: black;
		-webkit-transition: .3s;
	}

	.marker_selected {
		color: black !important;
	}

	.marker_selected_0 {
		-webkit-transform: translate3d(100px,0,0);
	}

	.marker_selected_1 {
		-webkit-transform: translate3d(200px,0,0);
	}

	.marker_selected_2 {
		-webkit-transform: translate3d(300px,0,0);
	}

	.marker_selected_3 {
		-webkit-transform: translate3d(400px,0,0);
	}

	.marker_selected_4 {
		-webkit-transform: translate3d(500px,0,0);
	}

	.item,
	.timeline {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-box-pack: end;
		padding-bottom: 6px;

		p {
			padding: 0;
			margin: 0;
		}
	}

	.item {
		width: 100px;
		height: 68px;
		border-right: 1px solid $line;
		text-indent: 20px;
		font-size: 12px;
		color: $text_intactive;


		p:first-of-type {
			font-size: 22px;
			font-family: 'Michroma', sans-serif;
		};
	}

	.timeline {
		-webkit-box-orient: horizontal;
		-webkit-box-flex: 1;
		-webkit-box-pack: center;
		font-size: 9px;
		font-family: 'Michroma', sans-serif;

		.year {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-box-align: center;
			-webkit-box-pack: end;
			margin-right: 10px;

			.dot {
				-webkit-border-radius: 4px;
				width: 8px;
				height: 8px;
				background: $line;
				margin-top: 2px;
				-webkit-transition: .3s;
			}

			.selected {
				background: $selected;
			}
		}
	}
}

.view_projects {
	margin-top: 60px;
	position: relative;

	.swipe_projects_hidden {
		display: none;
	}


	#swipe_projects_prev,
	#swipe_projects_next {
		position: absolute;
		top: 250px;
	}

	#swipe_projects_prev {
		left: 10px;
	}

	#swipe_projects_next {
		right: 10px;
	}

	.swipe_project_arrow_hidden {
		opacity: 0;
		pointer-events: none;
	}

	#swipe_projects li div {
		display: -webkit-box;
		// width: 850px;
		height: 530px;
		// margin: 0 auto;

		.info {
			-webkit-box-orient: vertical;
			width: 230px;
			padding: 0 50px;

			.title {
				font-size: 18px;
				color: $header_bg;
			}

			.details {
				height: 50px;
				padding: 8px 0;
				border-top: 1px solid $line;
				border-bottom: 1px solid $line;

				table {
					width: 100%;
					font-size: 12px;

					tr {
						line-height: 14px;
					}

					th {
						color: $table_header;
					}

					td {
						color: $table_header;
						width: 100%;
						padding-left: 20px;
					}
				}
			}

			.descriptions {
				-webkit-box-orient: vertical;
				overflow: scroll;
				-webkit-overflow-scrolling: touch;

				section {
					margin-top: 24px;
					font-size: 12px;
					color: $table_header;
					line-height: 12px;

					p:first-of-type {
						font-weight: bold;
						margin-bottom: 4px;
					};
				}
			}
		}

		.slides {
			-webkit-box-flex: 1;
			margin-right: 50px;

			.slide_map {
				border-right: 1px solid $line;
				padding-right: 6px;
				font-size: 9px;
				color: $table_text;

				li {
					display: -webkit-box;
					-webkit-box-pack: end;
					line-height: 9px;
					font-weight: bold;

					.marker {
						width: 10px;
						height: 10px;
						margin-left: 10px;
						background: $line;
					}

					.marker_selected {
						background: $title;
					}
				}

			}

			.slide_images {
				-webkit-box-flex: 1;
				margin-left: 10px;
				overflow: scroll;
				-webkit-overflow-scrolling: touch;

				img {
					margin-bottom: 10px;
				}
			}
		}
	}
}







.view {
	opacity: 0;
	-webkit-transition: .3s;
}

.visible {
	opacity: 1;
}

.animated {
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform-style: flat;
}








// ISOTOPE
#isotope_container {
	margin: 0 auto;
	padding-right: 60px;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}